Unique Words in a Sentence

In [1]:
sentence = "THIS IS SEJAL SINHA"
words = sentence.split()
unique_words = set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 4
Unique words: {'SEJAL', 'THIS', 'IS', 'SINHA'}

Highest Salary from Employee Data

In [2]:
employees = {
    "Sejal": 75000,
    "Kumud": 68000,
    "Yuktha": 72000
}

highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print(f"Highest Salary: {highest_employee} - {highest_salary}")

Highest Salary: Sejal - 75000

Find Maximum and Minimum Values

In [3]:
numbers = [45, 22, 89, 10, 66]
max_value = numbers[0]
min_value = numbers[0]
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num
print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Count Products Above a Price Threshold

In [4]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000:", count)

Products above 1000: 2

Calculate Attendance Percentage

In [5]:
attendance = ["P", "P", "A", "P", "P"]

present_days = attendance.count("P")
total_days = len(attendance)

attendance_percentage = (present_days / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

Remove Duplicate Phone Numbers

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

Count Character Frequency

In [7]:
text = "python"
char_frequency = {}

for char in text:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

print(char_frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Convert List to Tuple

In [8]:
numbers_list = [10, 20, 30]
numbers_tuple = tuple(numbers_list)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

Check if a Key Exists in a Dictionary

In [9]:
employees = {
    "Ravi": 75000,
    "Anita": 68000
}

if "Ravi" in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

Calculate Average Marks

In [10]:
marks = [70, 75, 80, 65]

average_marks = sum(marks) / len(marks)

print("Average Marks:", average_marks)

Average Marks: 72.5